<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button default-href="welcome-user"></ion-back-button>
    </ion-buttons>
    <ion-title>New Request</ion-title>
    <ion-buttons slot="end">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">
  <div class="login-container">
    <!-- User Info -->
    <ion-card>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/img/user.jpg" />
        </ion-avatar>
        <ion-label>
          <h2> {{name_user}} </h2>
          <p>{{userId}}</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <form (ngSubmit)="submitForm(emailInput )" #form="ngForm">


      <div>
        <ion-title>Request</ion-title>

      </div>

      <ion-item class="custom-underline">
        <ion-label position="floating"></ion-label>
        <ion-input value="{{userId}}" class="ion-input" #emailInput readonly> </ion-input>
      </ion-item>




      <ion-textarea #myTextarea
                    placeholder="Type something..."></ion-textarea>


      <ion-button expand="full" type="submit" [disabled]="!form.valid">Submit</ion-button>


    </form>
  </div>
</ion-content>
