<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button default-href="super-admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Admin Request List</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">


   <ion-card>
      <ion-searchbar [(ngModel)]="searchTerm"
                     (ionInput)="searchUserss($event)"
                     placeholder="Search by name..."
                     debounce="300"></ion-searchbar>

      <ion-list *ngIf="users.length > 0">
        <ion-item *ngFor="let user of users">
          <ion-label>
            <h2>{{ user.name }}</h2>
            <p>{{ user.email }}</p>

          </ion-label>
          <ion-button size="small" fill="clear" color="danger" (click)="viewUser2(user.email)">
            <ion-icon slot="icon-only" name="send-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>

      <ion-text color="medium" *ngIf="users.length === 0 && searchTerm">
        No users found.
      </ion-text>
    </ion-card>






  <ion-grid class="user-table-alt">
    <!-- Table Header -->
    <ion-row class="table-header">
      <ion-col size="2">ID</ion-col>
      <ion-col size="2">Date</ion-col>
      <ion-col size="3">User</ion-col>
      <ion-col size="3">Request</ion-col>

   
    </ion-row>

    <!-- Table Rows -->
    <ion-row *ngFor="let user of information; let i = index"
             [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }">
      <ion-col size="1">{{ user.id }}</ion-col>
      <ion-col size="3">{{ user.date }}</ion-col>
      <ion-col size="3">{{ user.email }}</ion-col>
      <ion-col size="4">{{ user.request }}</ion-col>

      <ion-col size="1">
        <ion-button size="small" fill="clear" color="medium" (click)="viewRequest(user.id)">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>
         
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

