ion-avatar {
  width: 70px;
  height: 70px;
}

.label {
  width: 100%;
  display: inline-block;
}


.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  // background-image: url("../../assets/img/background.png");
  background-size: cover;
  background-position: center;
  background: linear-gradient(to right, rgb(165, 180, 252), rgb(192, 132, 252));
}

.hidden-link {
  text-decoration: none;
}

.ion-toolbar {
  --color: white;
  font-size: 18px;
  --ion-background-color: #6d071a;
}

.alink {
  text-decoration: none;
}

.ion-tab-bar {
  --color: white;
  font-size: 18px;
  --ion-background-color: #6d071a;
}

ion-col {
  display: flex;
}

ion-card {
  padding: 5px;
}
