
.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../../../assets/img/background.png");
  background-size: cover;
  background-position: center;
  // background: linear-gradient(to right, rgb(165, 180, 252), rgb(192, 132, 252));
}

.ion-toolbar {
  --color: white;
  font-size: 18px;
  --ion-background-color: #6d071a;
}

.ion-tab-bar {
  --color: white;
  font-size: 18px;
  --ion-background-color: #6d071a;
}


.cart-badge {
  position: absolute;
  top: -7px;
  right: -10px;
  font-size: 12px;
  border-radius: 70%;
}

.scrollable-content {
  max-height: auto; /* Set the height limit */

  padding-right: 8px; /* Optional: spacing for scrollbar */
}

.custom-card {
  background-color: lightgray; /* Light gray */
}




ion-card {
  margin-bottom: 10px;
}

ion-thumbnail img {
  object-fit: cover;
}
