<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Super Admin Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">
  
    <!-- User Info -->
  <ion-card class="login-container">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/img/user.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>{{user.name}}</h2>
        <p>{{userId}}</p>
      </ion-label>
    </ion-item>


    <!-- Quick Actions -->
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-button expand="block" [routerLink]="['/send-msg']" fill="outline" color="success">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <p class="ion-text-center">Send Msg</p>
          </ion-col>
          <ion-col size="3">
            <ion-button [routerLink]="['/welcome-user']" expand="block" fill="outline" color="tertiary">
              <ion-icon slot="icon-only" name="home-outline"></ion-icon>
            </ion-button>
            <p class="ion-text-center">Home</p>
          </ion-col>
          <ion-col size="3">
            <ion-button [routerLink]="['/order-list-admin']" expand="block" fill="outline" color="">
              <ion-icon slot="icon-only" name="reorder-four-outline"></ion-icon>
            </ion-button>
            <p class="ion-text-center">Order List</p>
          </ion-col>
          <ion-col size="3">
            <ion-button (click)="confirmLogout()" expand="block" fill="outline" color="warning">
              <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
            <p class="ion-text-center">Logout</p>
          </ion-col>





        </ion-row>
      </ion-grid>

      <!-- Task Progress -->
      <!-- Stats Cards -->
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-card (click)="msg_request_read(userId)"  >
              <ion-card-header>
                <ion-card-title><font face="Times New Roman" color="black" size="4">New Request </font></ion-card-title>
              </ion-card-header>
              <ion-card-content> <font style="color: red;"> {{total_msg_request_unread}}</font></ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card [routerLink]="['/request-list-admin']">
              <ion-card-header>
                <ion-card-title><font face="Times New Roman" color="black" size="4">Request List</font> </ion-card-title>
              </ion-card-header>
              <ion-card-content>{{total_request}}</ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-grid>




      <!-- Stats Cards -->
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-card (click)="user_read(userId)">
              <ion-card-header>
                <ion-card-title><font face="Times New Roman" color="black" size="4">New Customer </font></ion-card-title>
              </ion-card-header>
              <ion-card-content><font style="color: red;">  {{total_user_new}}</font></ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card [routerLink]="['/user-list']">
              <ion-card-header>
                <ion-card-title><font face="Times New Roman" color="black" size="4"> Customer List</font></ion-card-title>
              </ion-card-header>
              <ion-card-content>  {{total_user}}</ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-grid>



      <!-- Latest Notifications -->
      <ion-list [routerLink]="['/send-msg-list']">
        <ion-list-header>
          <ion-label>Recent Notifications</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-icon name="mail-unread-outline" slot="start"></ion-icon>
          <ion-label>All Support Message</ion-label>
        </ion-item>

      </ion-list>
    </ion-card>
  </ion-card>
</ion-content>

